@import "settings";
@import "foundation";
@import "variables";
@import "xeditable";
@import "ui-grid";
@import "introjs";



.red {border: 1px solid red; background: red;}
.pad10 {padding: 10px;}
.pad20 {padding: 20px;}

body {
    background: #ccc;
    font-family: Calibri;

}

.grid-frame {
    max-width: 1600px;
//    min-width: 1024px;
    background: #fff;
    margin: 0 auto;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    position: relative;
    padding-bottom: 30px;
}

footer {
    width: 100%;
    height:30px;
    line-height:30px;
    padding:0 15px;
    background-color:#ccc;
    font-size: rem-calc(12);
    position: absolute;
    bottom: 0;
}

.grid-content {
    padding: 0;
    margin: 0;
    & .grid-block {
        margin: 0;
    }
}

.main-content {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.home .header {background: $darkblue;}
.all .header {background: $orange;}
.task .header {background: $purple;}
.control .header {background: $green;}
.focus .header {background: $blue;}
.report .header {background: $yellow;}

.header {
    height: rem-calc(60);
//    width: 100%;
    color: white;
    & a {
        color: white;
        & span {
            vertical-align: -4px;
        }
    }
}

  .nav {
//        font-family: "Calibri Light";
//        font-size: 17px;
//        text-transform:uppercase;
      & a {
            box-shadow: inset 0 0 0 0 transparent;
            -webkit-transition: all ease 200ms;
            -moz-transition: all ease 200ms;
            transition: all ease 200ms;
      }

      & .active {
            width: auto;
//            padding-right: 20px;
//            background: rgba(black,0.3);
            background: url(../../img/corner.png) no-repeat top left;
          & span {
//              margin-left: -15px;
          }

      }
    }


.opacity {opacity: 0.4;}

.nav a img { opacity: 0.4;}
.nav a.active img { opacity: 1;}
.nav a:hover img {opacity: 1;}

.nav.home a:hover {
    box-shadow: inset 0 -60px 0 0 $darkblue;
}
.nav.all a:hover {
    box-shadow: inset 0 -60px 0 0 $orange;
}
.nav.my a:hover {
    box-shadow: inset 0 -60px 0 0 $purple;
}
.nav.control a:hover {
    box-shadow: inset 0 -60px 0 0 $green;
}
.nav.focus a:hover {
    box-shadow: inset 0 -60px 0 0 $blue;
}
.nav.report a:hover {
    box-shadow: inset 0 -60px 0 0 $yellow;
}
.nav a.active:hover {box-shadow: none;}


.nav1 a {
    height: 60px;
    box-shadow: inset 0 0 0 0 transparent;
	-webkit-transition: all ease 200ms;
	-moz-transition: all ease 200ms;
	transition: all ease 200ms;
    &:hover {
    box-shadow: inset 0 -60px 0 0 rgba(black,0.3);
    }
}

.header .cal {
    padding: 5px 15px 0;
    font-family: "Calibri Light";
    font-size: rem-calc(16);
    text-align: center;
}


.header .cal .date {
    font-family: Arial, sans-serif;
    font-size: 23px;
    border-bottom: 1px dotted white;
}
.rel {
//    position: relative;
    overflow: hidden;
}


input.search {
    position: absolute;
    right: 0;
//    left: rem-calc(0);
    top: rem-calc(15);
    background: rgba(white,0.5);
    height: 32px;
    border: none;
    font-family: Arial;
    font-size: 18px;
    color: black;
    transition: .3s ease all;
    overflow: hidden;
//    width: 86%;
}

input.search.ng-hide {
    width: 0;
}
::-webkit-input-placeholder
{
    color:#fff;
    font-size: 16px;
    font-family: "Calibri Light";
    font-style: italic;
}





//tabs ***********************************
.toptab {
    width: 100%;
//    margin-top: 0px;
}
.tabs {
    border-bottom: 1px solid #ccc;
    padding-left: rem-calc(60);
}
.tabs .tab-item {
    text-transform: uppercase;
    padding: 5px 20px;
    color: #777;
}
.tabs .tab-item.is-active {
    border: 1px solid #ccc;
    border-top: 3px solid black;
    border-bottom: 2px solid white;
    margin-bottom: -2px;
}
.preview .tabs .tab-item.is-active {
    border: none;
    border-top: 1px solid black;
//    margin-top: -2px;
}
.preview .tabs .tab-item {
//    border-top: 1px solid #ccc;
}

.all .tabs .tab-item.is-active {border-top-color: $orange;}
.control .tabs .tab-item.is-active {border-top-color: $green;}
.task .tabs .tab-item.is-active {border-top-color: $purple;}
.focus .tabs .tab-item.is-active {border-top-color: $blue;}

//preview tabs *********************************
.preview .tabs {
//    border-top: 1px solid #ccc;
    padding-left: rem-calc(10);
    border-bottom: none;
    width: auto;
}









.filter {
    display: block;
    cursor: pointer;
    padding: 5px;
    &:hover {
        background: #eee;
        }
    }


//animation filter **************************
.animated {
    background: #eee;
    opacity: 1;
    padding: 5px;
    font-size: rem-calc(13);
    & .grid-content {
//        overflow: hidden;
    }
}
.animated.ng-hide-add.ng-hide-add-active,
.animated.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.animated.ng-hide {
  line-height: 0;
  opacity: 0;
}


//grid *********************************************
.row {
//    height: rem-calc(36);
    line-height: rem-calc(30);
    border: 1px solid white;
    &:hover {
    overflow: hidden;
    cursor: pointer;
    background: $selection;
    border-color: $selection-border;
    }
    & .grid-content {
        padding: 5px;
    }
}
.row .taskname {
    color: $link;
    font-family: $font-light;
    font-size: rem-calc(18);
}

//preview task **********************************************
.preview {
    border: 1px solid #777;
//    height: 300px;
    position: relative;
    transition: all .4s ease;
    padding: rem-calc(15);
}
.preview.ng-hide {
    height: 0;
    opacity: 0;
}
.close-bt {
    position: absolute;
    top:10px;
    right: 10px;
}
.preview .grid-content {
    padding: 5px;
}

.preview .tab-content .grid-content{
//    padding:0 0px 0 0;
}


.preview .taskname {
//    font: Calibri;
    font-weight: 600;
    font-size: rem-calc(20);
    color: $link;
}
.fade img {
    opacity: 0.3;
    &:hover {
        opacity: 1;
    }
}
.preview .nowrap {
//    margin-right: 60px;
}
.preview .status {
    margin-right: 80px;
}


//ui-grid ***********************************
.grid {
//    width: 100%;
    height: 600px;
    border: none;
//    font-size: rem-calc(18);
//    font-family: Calibri, Helvetica, "Helvetica Neuve", sans-serif;

  }


.expandableRow {
//    background: #ccc;
//    padding: 1rem;
//    border-bottom: 1px solid #000;
//    width: 90%;
}
.ui-grid-header-cell {
    font-family: $font-light;
    font-weight: 100;
    font-size: rem-calc(14);
    background: #eee;
}
.header-filtered {
//    background: #ccc;
    color: red;
}
.expand {
    box-sizing: border-box;
    height: 300px;
    overflow: scroll;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background: #b4d1ff;
//    height: 3rem;
//    font-size: 1.3rem;

}

.title {
    display: inline-block;
    font-size: rem-calc(27);
    text-align: center;
    line-height: 60px;
    text-transform: capitalize;
}