---
name: all
url: /all
<!--animationIn: fadeIn-->
<!--animationOut: slideOutLeft-->
sections:
    - all tasks
    - important
    - projects
    - tasks to observe
    - drafts
    - completed
    - recycle bin
page: all tasks
menu:
    - home
    - all tasks
    - my tasks
    - control
    - focus
    - reports
---

<div ng-include="'templates/partials/header.html'" class="{{vars.name}}"></div>

    <div class="main-content">
        <div ng-include="'templates/partials/tabs.html'" [onload=""] [autoscroll=""]></div>
        <div ng-include="'templates/partials/grid.html'" [onload=""] [autoscroll=""]></div>
    </div>
    <p>{{vars.page}}</p>

<div zf-panel="commentPanel" id="commentPanel" position="right" class="panel-fix">
    <a zf-close="" class="close-button">×</a>
    <p>This is a comment panel.</p>
</div>
