---
name: control
url: /control
<!--animationIn: zoomIn-->
sections:
    - tasks to control
    - important
    - issue
    - waiting for approval
    - overdue
    - due today
page: control
menu:
    - home
    - all tasks
    - my tasks
    - control
    - focus
    - reports
---

<div ng-include="'templates/partials/header.html'" class="{{vars.name}}"></div>


    <div class="main-content">
        <div ng-include="'templates/partials/tabs.html'" [onload=""] [autoscroll=""]></div>
    </div>
<p>{{vars.page}}</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, ad, mollitia. Minus enim quis delectus natus cumque dolore consectetur soluta, officia labore ex nemo tenetur dolor beatae aliquid, laborum illo! LAST</p>


