---
name: focus
url: /focus
sections:
    - focus
    - completed
page: focus
menu:
    - home
    - all tasks
    - my tasks
    - control
    - focus
    - reports
---

<div ng-include="'templates/partials/header.html'" class="{{vars.name}}"></div>


      <div class="main-content">
            <div ng-include="'templates/partials/tabs.html'" [onload=""] [autoscroll=""]></div>
      </div>







