---
name: home
url: /
animationIn: zoomIn
page: home
menu:
    - home
    - all tasks
    - my tasks
    - control
    - focus
    - reports
---


<div ng-include="'templates/partials/header.html'" class="{{vars.name}}"></div>


  <div class="main-content">
<!--         <br><br><br><br>-->
          <h3>this is {{vars.name}} page</h3>

            <div ng-controller="Ctrl">
                <a href="#" editable-text="user.name">{{ user.name || "empty" }}</a>

            </div>
            <br>
              <p>{{vars.menu}}</p>
<!--introjs-->
            <div ng-controller="introJsCtrl">
                    <div class="container-narrow" 
                     ng-intro-options="IntroOptions" ng-intro-method="One"
                     ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent"
                     ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent"
                     ng-intro-autostart="false">
                
                
                    <div class="jumbotron">
                        <h1 id="step1">Lorem ipsum</h1>
                        <p id="step2">consectetur adipisicing elit</p>
                        <button class="btn btn-large btn-success" ng-click="One();">Demo</button>
                        <button class="btn btn-large btn-success" ng-click="One();">Start at step 3</button>
                
                    </div>
                
                
                    <hr>
                
                </div>
                </div>
        
  </div>



