---
name: report
url: /report
<!--animationIn: zoomIn-->
page: reports
menu:
    - home
    - all tasks
    - my tasks
    - control
    - focus
    - reports
---

<div ng-include="'templates/partials/header.html'" class="{{vars.name}}"></div>


      <br><br><br><br>
      <h3 class="text-center">this is {{vars.name}} page</h3>

      <p>{{vars.bg}}</p>







