---
name: task
url: /task
sections:
    - my tasks
    - important
    - assigned
    - in work
    - overdue
    - due today
page: my tasks
menu:
    - home
    - all tasks
    - my tasks
    - control
    - focus
    - reports
---

    <div ng-include="'templates/partials/header.html'" class="{{vars.name}}"></div>
    <div class="grid-container">



      <div class="main-content">
            <div ng-include="'templates/partials/tabs.html'" [onload=""] [autoscroll=""]></div>

            <div ng-controller="MainCtrl">
                 <div class="filter" ng-click="toggleFiltering()">
                    <img src="../../img/icon-filter.png" alt="">
                    <span class="dotted">Show filter</span>
                </div>
<!--              <button id='toggleFiltering' ng-click="toggleFiltering()" class="btn btn-success">Toggle Filtering</button>-->
              <br>
              <br>
              <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-move-columns ui-grid-expandable ui-grid-selection></div>
          </div>

      </div>







    </div>
