<div class="grid-block filter">
    <div class="grid-block shrink" ng-click="showFilter = !showFilter">
        <img src="../../img/icon-filter.png" alt="" ng-hide="showFilter" class="scale" >
        <img src="../../img/close-black.png" alt="" ng-show="showFilter" class="scale">&nbsp;
        <span class="dotted" ng-hide="showFilter">Filter</span>
    </div>
    <div class="grid-block animated" ng-show="showFilter">
        <div class="grid-block">
            <div class="grid-content">
                To:<br><input type="text">
            </div>
            <div class="grid-content">
                From:<br><input type="text">
            </div>
            <div class="grid-content">
                CC:<br><input type="text">
            </div>
            <div class="grid-content">
                Project name:<br><input type="text">
            </div>
            <div class="grid-content">
                Deadline:<br><input type="text">
            </div>
            <div class="grid-content">
                <br><input type="text">
            </div>
               <div class="grid-content">
               Task status: <br><input type="text">
            </div>
    </div>
    </div>
    <div class="grid-block shrink" ng-show="showFilter"><img src="../../img/reset.png" alt="" class="scale"></div>

</div>



