<hr>
<div class="grid-block vertical" ng-repeat="i in [0, 1, 2, 3, 4, 5]">
    <div class="grid-block row" ng-click="showPreview = !showPreview" ng-hide="showPreview">
        <div class="grid-content shrink"><a href=""><span>!</span></a></div>
        <div class="grid-content shrink"><img src="../../img/focus-table.png" alt=""></div>
        <div class="grid-content taskname">Пришли плиз скрины мобильной верстки</div>
        <div class="grid-content shrink">kfdas</div>
        <div class="grid-content shrink">kfdas</div>
        <div class="grid-content shrink">kfdas</div>
        <div class="grid-content shrink">kfdas</div>
        <div class="grid-content shrink">kfdas</div>
        <div class="grid-content shrink">kfdas</div>
        <div class="grid-content shrink">kfdas</div>
        <div class="grid-content shrink">kfdas</div>
        <div class="grid-content shrink">kfdas</div>
    </div>




<div class="preview" ng-show="showPreview">
    <div class="grid-block shrink nowrap" ng-click="showPreview = !showPreview">
        <div class="grid-content shrink"><a href=""><span>!</span></a></div>
        <div class="grid-content shrink"><img src="../../img/focus-table.png" alt=""></div>
        <div class="grid-content taskname">Пришли плиз скрины мобильной верстки Пришли плиз скрины мобильной верстки Пришли плиз скрины мобильной верстки <span class="fade"><a href=""><img src="../../img/fullscreen.png" alt=""></a></span></div>
        <div class="grid-container small-2 text-center"><img src="../../img/status-inwork.png" alt="">&nbsp;&nbsp;In work</div>
        <div class="grid-content shrink"><img src="../../img/close-black.png" alt=""></div>
    </div>
    <br>
   <div zf-tabs="">
        <div zf-tab="" title="Главное">
            <div class="grid-block nowrap">
                <div class="grid-content"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi vitae odio beatae aspernatur dolorem atque, quaerat quo iste nobis accusamus. Rerum optio recusandae harum, neque officiis excepturi odit esse earum.</p></div>
                <div class="grid-content">agasgasg</div>
                <div class="grid-content" zf-open="commentPanel">Комментарии:</div>

            </div>
        </div>
        <div zf-tab="" title="Подзадачи">
            Tab content 2
        </div>
        <div zf-tab="" title="Вложения">
            Tab content 3
        </div>



<!--    <img src="../../img/close-black.png" alt="" class="close-bt">-->
</div>

</div>


