<div class="grid-block header">
        <div class="grid-block shrink nav home" ng-hide ="vars.page !='home' && showSearch">
            <a ui-sref="home" ng-class="{active : vars.page == 'home'}">
                <img src="../img/home.png" alt="">
            </a>
        </div>
        <div class="grid-block shrink nav all" ng-hide ="vars.page !='all tasks' && showSearch">
            <a ui-sref="all" ng-class="{active : vars.page == 'all tasks'}">
                <img src="../img/all.png" alt="">
            </a>
        </div>
        <div class="grid-block shrink nav my" ng-hide ="vars.page !='my tasks' && showSearch">
            <a ui-sref="task" ng-class="{active : vars.page == 'my tasks'}">
                <img src="../img/task.png" alt="">
            </a>
        </div>
        <div class="grid-block shrink nav control" ng-hide ="vars.page !='control' && showSearch">
            <a ui-sref="control" ng-class="{active : vars.page == 'control'}">
                <img src="../img/control.png" alt="">
            </a>
        </div>
        <div class="grid-block shrink nav focus" ng-hide ="vars.page !='focus' && showSearch">
            <a ui-sref="focus" ng-class="{active : vars.page == 'focus'}">
                <img src="../img/focus.png" alt="">
            </a>
        </div>
        <div class="grid-block shrink nav report" ng-hide ="vars.page !='reports' && showSearch">
            <a ui-sref="report" ng-class="{active : vars.page == 'reports'}">
                <img src="../img/report1.png" alt="">
            </a>
        </div>
        
        
        <div class="grid-block title">
            <span ng-hide="showSearch">
                {{vars.page}}
            </span>
        
            <input type="text" class="search" ng-show="showSearch" placeholder="Search in current view">
        
        </div>
        


        <div class="grid-block shrink align-right nav1">
            <a href="" ng-click="showSearch = !showSearch"><img src="../img/search.png" alt=""></a>
        </div>

        <div class="grid-block shrink nav1"><a href="" class="cal"><span class="day">Fri</span><br><span class="date">14</span></a></div>
        <div class="grid-block shrink nav1"><a href=""><img src="../img/notification.png" alt="" class="opacity"></a></div>
        <div class="grid-block shrink nav1"><a href=""><img src="../img/user.png" alt=""></a></div>
        <div class="grid-block shrink nav1"><a href=""><img src="../img/add.png" alt=""></a></div>
    </div>
